.flip-out {
    transform: rotateY(180deg); /* Flip out */
    display: inline-block;
    opacity: 0; /* Fade out */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.flip-in {
    transform: rotateY(-180deg); /* Start flipped */
    display: inline-block;
    opacity: 0; /* Start invisible */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.flip-in-active {
    transform: rotateY(0deg); /* Flip in to normal */
    opacity: 1; /* Fade in */
}
